body {
  font-family: 'Century Gothic', Helvetica, sans-serif;
}

header {
  padding-top: 60px;
  padding-botom: 20px;
  background-color: #595959;
}

header h1 {
  font-family: 'Century Gothic', Helvetica, sans-serif;
  font-size: 45px;
  color: #FFFFFF;
}

img {
  position: absolute;
  top: 20px;
  right: 20px;
}

sidebar {
  background-color: #7F7F7F;
  color: #FFFFFF;
}

#contact-info {
  margin-top: 30px;
  margin-bottom: 150px;
}

#education {
  margin-bottom: 70px;
}

main {
  margin-top: 30px;
}

#date-2 {

  text-align: right;
}
