body {
  font family: 'Century Gothic', Helvetica, sans-serif;
}

header {
  padding 20 px, 0;
  background-color: #595959;
}

header h1 {
  font family: 'Century Gothic', Helvetica, sans-serif;
  color: #FFFFFF;
}

header img {
  display: flex;
  justify-content: flex-end;
}

sidebar {
  background-color: #7F7F7F;
  color: #FFFFFF;
}
